In [1]:
# some good general info for the census: http://www.opengeocode.org/tutorials/USCensusAPI.php

# census code wrapper: https://github.com/sunlightlabs/census

In [5]:

import pandas as pd 
import numpy as np
#import seaborn as sns
#sns.set(style="whitegrid", color_codes=True)
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.style.use('ggplot')
from pandas import DataFrame
from census import Census # this needs to be installed via $ pip install census
from us import states # this needs to be installed via $ pip install us

In [6]:
ck = Census("642e9046916aeaedd65d2e855468e3d7b66328d0")

county_table_load = pd.read_table("http://www2.census.gov/geo/docs/reference/codes/files/national_county.txt", header=None, names=['State_Abrv','State#','County#','County','Blank'],sep=",")

df_county_table = county_table_load

# variables for us to define which census year to utilize
census_year = 2014

df_county_table.head()

  State_Abrv  State#  County#          County Blank
0         AL       1        1  Autauga County    H1
1         AL       1        3  Baldwin County    H1
2         AL       1        5  Barbour County    H1
3         AL       1        7     Bibb County    H1
4         AL       1        9   Blount County    H1

In [7]:
# load the variables table

variables_table_load = pd.read_json("http://api.census.gov/data/2014/acs5/variables.json", typ="frame",orient="columns")

df_variables_table = variables_table_load

# convert the table to a series to make it a viewable dataframe
df_variables_table = df_variables_table.variables.apply(pd.Series).reset_index()
df_variables_table.columns = ['variables','concept','label','predicateOnly','predicateType']

df_variables_table.head()

,variables,concept,label,predicateOnly,predicateType
0,AIANHH,Selectable Geographies,FIPS AIANHH code,NaN,NaN
1,AIHHTLI,Selectable Geographies,American Indian Trust Land/Hawaiian Home Land ...,NaN,NaN
2,AITS,Selectable Geographies,American Indian Tribal Subdivision (FIPS),NaN,NaN
3,AITSCE,Selectable Geographies,American Indian Tribal Subdivision (Census),NaN,NaN
4,ANRC,Selectable Geographies,Alaska Native Regional Corporation (FIPS),NaN,NaN

In [ ]:
# use this to explore what's in the labels -- note it is case sensitive
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_colwidth', -1)
df_variables_table_explorer = df_variables_table.copy()
df_variables_table[df_variables_table['label'].str.contains("")]

In [8]:
# total population for California
# male by age
m_cali_byage = pd.DataFrame(ck.acs5.get(('NAME',
                                                'B01001_007E', # male 18 to 19
                                                'B01001_008E', # male 20 years
                                                'B01001_009E', # male 21 years
                                                'B01001_010E', # male 22 to 24 years
                                                'B01001_011E', # male 25 to 29 years
                                                'B01001_012E', # male 30 to 34 years
                                                'B01001_013E', # male 35 to 39 years
                                                'B01001_014E', # male 40 to 44 years
                                                'B01001_015E', # male 45 to 49 years
                                                'B01001_016E', # male 50 to 54 years
                                                'B01001_017E', # male 55 to 59 years
                                                'B01001_018E', # male 60 to 51 years
                                                'B01001_019E', # male 62 to 64 years
                                                'B01001_020E', # male 65 to 66 years
                                                'B01001_021E', # male 67 to 69 years
                                                'B01001_022E'), # male 70 to 74 years 
                                          geo={'for': 'county:*', 
                                               'in': 'state:{}'.format(states.CA.fips)}, year=census_year))

m_cali_byage.head()

,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,B01001_015E,B01001_016E,B01001_017E,B01001_018E,B01001_019E,B01001_020E,B01001_021E,B01001_022E,NAME,county,state
0,20721,10529,11250,33339,59098,59768,56709,58547,55736,54962,48199,17788,22942,13507,15558,18608,"Alameda County, California",001,06
1,27,15,9,17,31,23,26,85,11,50,61,16,32,12,31,12,"Alpine County, California",003,06
2,453,167,163,653,902,1057,988,1637,1711,1780,1730,695,961,737,814,916,"Amador County, California",005,06
3,4116,2865,2126,8534,7269,6580,5887,5826,6162,7022,7154,2973,4182,2755,2597,3600,"Butte County, California",007,06
4,494,252,176,631,976,829,1074,974,1564,1826,1982,821,1257,757,1115,1352,"Calaveras County, California",009,06

In [9]:
# total population for California
# femmale by age
f_cali_byage = pd.DataFrame(ck.acs5.get(('NAME',
                                                'B01001_031E', # female 18 to 19
                                                'B01001_032E', # female 20 years
                                                'B01001_033E', # female 21 years
                                                'B01001_034E', # female 22 to 24 years
                                                'B01001_035E', # female 25 to 29 years
                                                'B01001_036E', # female 30 to 34 years
                                                'B01001_037E', # female 35 to 39 years
                                                'B01001_038E', # female 40 to 44 years
                                                'B01001_039E', # female 45 to 49 years
                                                'B01001_040E', # female 50 to 54 years
                                                'B01001_041E', # female 55 to 59 years
                                                'B01001_042E', # female 60 to 51 years
                                                'B01001_043E', # female 62 to 64 years
                                                'B01001_044E', # female 65 to 66 years
                                                'B01001_045E', # female 67 to 69 years
                                                'B01001_046E'), # female 70 to 74 years 
                                          geo={'for': 'county:*', 
                                               'in': 'state:{}'.format(states.CA.fips)}, year=census_year))

f_cali_byage.head()

,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B01001_038E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E,B01001_044E,B01001_045E,B01001_046E,NAME,county,state
0,20040,10794,11093,32492,59685,61900,58659,58518,56716,57024,50947,18700,26891,14847,17278,23404,"Alameda County, California",001,06
1,6,22,7,22,27,39,11,28,55,45,52,14,11,19,10,43,"Alpine County, California",003,06
2,316,159,83,453,641,694,757,861,1088,1391,1557,817,1003,469,836,1215,"Amador County, California",005,06
3,4060,2331,2790,7403,6575,6078,5331,6020,6533,7363,7593,3287,4278,2343,3433,4337,"Butte County, California",007,06
4,425,151,189,582,838,905,860,1368,1528,2010,2141,717,1490,852,1167,1296,"Calaveras County, California",009,06

In [10]:
m_cali_byage.dtypes

B01001_007E    object
B01001_008E    object
B01001_009E    object
B01001_010E    object
B01001_011E    object
B01001_012E    object
B01001_013E    object
B01001_014E    object
B01001_015E    object
B01001_016E    object
B01001_017E    object
B01001_018E    object
B01001_019E    object
B01001_020E    object
B01001_021E    object
B01001_022E    object
NAME           object
county         object
state          object
dtype: object

In [11]:
# sum the values for males

m_cali_age = m_cali_byage.copy()

# since the values are stored as objects, we are going to convert them to numberic
m_cali_age = m_cali_age.convert_objects(convert_numeric=True)

# perform the sum
m_cali_age['Total Male Population'] =  m_cali_age['B01001_007E'] +  m_cali_age['B01001_008E'] + m_cali_age['B01001_009E'] + m_cali_age['B01001_010E'] + m_cali_age['B01001_011E'] + m_cali_age['B01001_012E'] + m_cali_age['B01001_013E'] + m_cali_age['B01001_014E'] + m_cali_age['B01001_015E'] + m_cali_age['B01001_016E'] + m_cali_age['B01001_017E'] + m_cali_age['B01001_018E'] + m_cali_age['B01001_019E'] + m_cali_age['B01001_020E'] + m_cali_age['B01001_021E'] + m_cali_age['B01001_022E']
                                                
m_cali_age.head()

/home/pony/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:6: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,B01001_015E,B01001_016E,B01001_017E,B01001_018E,B01001_019E,B01001_020E,B01001_021E,B01001_022E,NAME,county,state,Total Male Population
0,20721,10529,11250,33339,59098,59768,56709,58547,55736,54962,48199,17788,22942,13507,15558,18608,"Alameda County, California",1,6,557261
1,27,15,9,17,31,23,26,85,11,50,61,16,32,12,31,12,"Alpine County, California",3,6,458
2,453,167,163,653,902,1057,988,1637,1711,1780,1730,695,961,737,814,916,"Amador County, California",5,6,15364
3,4116,2865,2126,8534,7269,6580,5887,5826,6162,7022,7154,2973,4182,2755,2597,3600,"Butte County, California",7,6,79648
4,494,252,176,631,976,829,1074,974,1564,1826,1982,821,1257,757,1115,1352,"Calaveras County, California",9,6,16080

In [12]:
# sum the values for females

f_cali_age = f_cali_byage.copy()

# since the values are stored as objects, we are going to convert them to numberic
f_cali_age = f_cali_age.convert_objects(convert_numeric=True)

# perform the sum
f_cali_age['Total Female Population'] =  f_cali_age['B01001_031E'] +  f_cali_age['B01001_032E'] + f_cali_age['B01001_033E'] + f_cali_age['B01001_034E'] + f_cali_age['B01001_035E'] + f_cali_age['B01001_036E'] + f_cali_age['B01001_037E'] + f_cali_age['B01001_038E'] + f_cali_age['B01001_039E'] + f_cali_age['B01001_040E'] + f_cali_age['B01001_041E'] + f_cali_age['B01001_042E'] + f_cali_age['B01001_043E'] + f_cali_age['B01001_044E'] + f_cali_age['B01001_045E'] + f_cali_age['B01001_046E']
                                                
f_cali_age.head()

/home/pony/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:6: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B01001_038E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E,B01001_044E,B01001_045E,B01001_046E,NAME,county,state,Total Female Population
0,20040,10794,11093,32492,59685,61900,58659,58518,56716,57024,50947,18700,26891,14847,17278,23404,"Alameda County, California",1,6,578988
1,6,22,7,22,27,39,11,28,55,45,52,14,11,19,10,43,"Alpine County, California",3,6,411
2,316,159,83,453,641,694,757,861,1088,1391,1557,817,1003,469,836,1215,"Amador County, California",5,6,12340
3,4060,2331,2790,7403,6575,6078,5331,6020,6533,7363,7593,3287,4278,2343,3433,4337,"Butte County, California",7,6,79755
4,425,151,189,582,838,905,860,1368,1528,2010,2141,717,1490,852,1167,1296,"Calaveras County, California",9,6,16519

In [13]:
# reindex the headers so they align with the labels from our variables table

m_cali_age.rename(columns=df_variables_table.set_index('variables')['label'], inplace=True)

m_cali_age.head()

,Male:!!18 and 19 years,Male:!!20 years,Male:!!21 years,Male:!!22 to 24 years,Male:!!25 to 29 years,Male:!!30 to 34 years,Male:!!35 to 39 years,Male:!!40 to 44 years,Male:!!45 to 49 years,Male:!!50 to 54 years,Male:!!55 to 59 years,Male:!!60 and 61 years,Male:!!62 to 64 years,Male:!!65 and 66 years,Male:!!67 to 69 years,Male:!!70 to 74 years,Geographic Area Name,county,state,Total Male Population
0,20721,10529,11250,33339,59098,59768,56709,58547,55736,54962,48199,17788,22942,13507,15558,18608,"Alameda County, California",1,6,557261
1,27,15,9,17,31,23,26,85,11,50,61,16,32,12,31,12,"Alpine County, California",3,6,458
2,453,167,163,653,902,1057,988,1637,1711,1780,1730,695,961,737,814,916,"Amador County, California",5,6,15364
3,4116,2865,2126,8534,7269,6580,5887,5826,6162,7022,7154,2973,4182,2755,2597,3600,"Butte County, California",7,6,79648
4,494,252,176,631,976,829,1074,974,1564,1826,1982,821,1257,757,1115,1352,"Calaveras County, California",9,6,16080

In [14]:
# reindex the headers so they align with the labels from our variables table

f_cali_age.rename(columns=df_variables_table.set_index('variables')['label'], inplace=True)

f_cali_age.head()

,Female:!!18 and 19 years,Female:!!20 years,Female:!!21 years,Female:!!22 to 24 years,Female:!!25 to 29 years,Female:!!30 to 34 years,Female:!!35 to 39 years,Female:!!40 to 44 years,Female:!!45 to 49 years,Female:!!50 to 54 years,Female:!!55 to 59 years,Female:!!60 and 61 years,Female:!!62 to 64 years,Female:!!65 and 66 years,Female:!!67 to 69 years,Female:!!70 to 74 years,Geographic Area Name,county,state,Total Female Population
0,20040,10794,11093,32492,59685,61900,58659,58518,56716,57024,50947,18700,26891,14847,17278,23404,"Alameda County, California",1,6,578988
1,6,22,7,22,27,39,11,28,55,45,52,14,11,19,10,43,"Alpine County, California",3,6,411
2,316,159,83,453,641,694,757,861,1088,1391,1557,817,1003,469,836,1215,"Amador County, California",5,6,12340
3,4060,2331,2790,7403,6575,6078,5331,6020,6533,7363,7593,3287,4278,2343,3433,4337,"Butte County, California",7,6,79755
4,425,151,189,582,838,905,860,1368,1528,2010,2141,717,1490,852,1167,1296,"Calaveras County, California",9,6,16519

In [15]:
# merge the tables together

cali_age = pd.merge(m_cali_age, f_cali_age, on="Geographic Area Name")

cali_age

,Male:!!18 and 19 years,Male:!!20 years,Male:!!21 years,Male:!!22 to 24 years,Male:!!25 to 29 years,Male:!!30 to 34 years,Male:!!35 to 39 years,Male:!!40 to 44 years,Male:!!45 to 49 years,Male:!!50 to 54 years,...,Female:!!50 to 54 years,Female:!!55 to 59 years,Female:!!60 and 61 years,Female:!!62 to 64 years,Female:!!65 and 66 years,Female:!!67 to 69 years,Female:!!70 to 74 years,county_y,state_y,Total Female Population
0,20721,10529,11250,33339,59098,59768,56709,58547,55736,54962,...,57024,50947,18700,26891,14847,17278,23404,1,6,578988
1,27,15,9,17,31,23,26,85,11,50,...,45,52,14,11,19,10,43,3,6,411
2,453,167,163,653,902,1057,988,1637,1711,1780,...,1391,1557,817,1003,469,836,1215,5,6,12340
3,4116,2865,2126,8534,7269,6580,5887,5826,6162,7022,...,7363,7593,3287,4278,2343,3433,4337,7,6,79755
4,494,252,176,631,976,829,1074,974,1564,1826,...,2010,2141,717,1490,852,1167,1296,9,6,16519
5,378,252,124,360,729,667,715,681,680,712,...,697,637,191,324,193,206,295,11,6,6716
6,13981,6970,6500,19798,32898,33592,34910,37320,40036,40171,...,42451,38038,13653,19834,11716,13493,18704,13,6,388950
7,442,206,284,677,1137,1333,1184,911,1273,1030,...,1155,993,388,609,303,403,507,15,6,8862
8,2337,1489,975,2939,4352,4490,4828,5474,6844,7959,...,8374,8120,2843,4025,2621,2724,3614,17,6,64954
9,15425,8074,8452,23594,37202,33383,29890,28306,28670,28474,...,28867,26036,9562,12688,7457,9198,12707,19,6,312465
10,382,179,297,463,890,848,641,1015,856,1037,...,1034,850,340,549,307,258,499,21,6,9168
11,2375,1718,1356,3361,4994,5046,4472,3784,3984,4559,...,4781,5184,2316,2565,1541,1879,2195,23,6,49508
12,2939,1408,1863,4676,7038,6560,6084,5500,5688,5413,...,5375,5310,1475,2421,1487,1755,2545,25,6,56398
13,236,61,41,360,514,534,577,394,588,716,...,684,636,448,447,322,355,269,27,6,6278
14,14203,8327,8657,20639,35912,32820,29299,27761,27798,27234,...,26295,21830,8508,11251,6245,7873,10709,29,6,272240
15,2278,1757,1578,4555,7860,7258,7021,6002,6235,5411,...,3899,3557,1129,1388,1060,1291,1413,31,6,43171
16,942,306,348,1112,1755,1740,1716,1619,2042,2522,...,2550,2841,991,1721,1010,1026,1506,33,6,22870
17,539,444,447,1872,2673,2656,1968,1800,1737,1547,...,916,942,324,510,246,344,378,35,6,7739
18,148643,80131,82489,232025,400119,373119,348617,358118,347544,333071,...,345897,309162,110241,149499,86884,109376,146537,37,6,3597958
19,2318,1213,980,3485,4912,4807,4376,4408,4396,4298,...,5112,4478,1689,2376,1755,1590,2256,39,6,53587
20,2558,1442,1107,3144,6299,6674,7546,10064,10151,10322,...,10814,10949,4375,6106,3529,5064,5524,41,6,93108
21,115,77,104,279,505,487,358,482,589,858,...,780,815,344,389,352,354,551,43,6,6378
22,1229,633,508,1698,2328,2720,2575,2693,2591,3126,...,3176,3609,1459,2285,1095,1738,1707,45,6,30877
23,5032,2888,2374,5890,9787,9057,7927,8441,8045,7606,...,7743,7158,2428,2658,1995,2553,3126,47,6,84050
24,94,33,65,114,264,194,242,268,292,363,...,357,458,125,206,280,129,154,49,6,3226
25,273,245,134,174,713,563,565,573,467,545,...,714,555,304,124,66,147,334,51,6,4955
26,6849,4096,3693,10032,17271,16853,15829,14005,14022,13469,...,13195,12277,4197,6436,3634,4196,5742,53,6,139031
27,1852,864,973,2916,4421,4421,3958,5005,4820,5043,...,4996,5225,2021,2421,1990,1754,2432,55,6,48722
28,1144,555,477,1558,2184,2682,2582,2605,3118,3793,...,4239,4900,1846,2731,1519,1994,2715,57,6,36064
29,44491,25461,23629,66640,113588,105370,103850,109728,113449,110673,...,112657,97003,35723,47163,29543,35377,47707,59,6,1102370
30,4524,2447,1749,6138,9747,10489,11221,11570,12938,13235,...,13886,12765,4703,7110,4398,5663,7777,61,6,127554
31,367,71,101,142,373,547,486,422,622,747,...,850,887,422,559,337,495,522,63,6,7099
32,36661,18806,18165,49266,77368,74107,71893,74858,76536,74319,...,73353,64101,22871,32970,20062,27657,35688,65,6,765355
33,19554,10681,10519,32025,55291,52018,47318,47384,48275,48884,...,52076,47948,17656,22704,14014,16536,21596,67,6,516843
34,875,621,444,958,1838,1849,1805,1953,2087,2068,...,2086,1721,769,794,490,437,822,69,6,19209
35,34714,19941,18803,49887,77687,71398,66839,67677,68308,67392,...,70050,60315,21503,28451,16296,20799,24933,71,6,710505
36,50635,30848,30525,89209,137916,121630,106565,107418,106298,107071,...,108730,98199,36136,48392,28481,34802,47021,73,6,1125332
37,7037,4239,3577,19105,47446,45377,37930,35253,32317,29758,...,25350,24024,10283,15181,8040,9856,13327,75,6,319409
38,11143,5610,5806,15421,24083,23229,22038,23187,23268,22803,...,23055,21193,7461,9304,6684,7091,9674,77,6,234792
39,6643,3686,4833,8083,8878,8607,7010,8742,8814,9570,...,9758,10422,4187,5234,3149,3790,5712,79,6,97668
40,7835,4147,4584,12928,25576,27177,27115,27363,27390,27247,...,28240,25967,10171,12850,7644,10256,12670,81,6,268136
41,9691,5919,6178,12724,15970,14739,13107,12721,13085,13512,...,13911,13266,4445,6575,4283,4716,6638,83,6,150545
42,23374,12037,12039,37772,71633,72329,71106,71952,70042,66913,...,64802,55422,20144,27238,16290,19755,27291,85,6,647925
43,6229,3022,2806,8065,8565,8359,8085,8455,8652,9469,...,9753,10606,3907,4456,2928,3118,3788,87,6,99205
44,2315,1207,1258,3292,5457,5117,4891,4709,5526,6428,...,6968,6966,2691,3935,2302,3065,4210,89,6,63844
45,51,15,0,20,36,60,57,74,103,151,...,135,245,31,103,99,69,51,91,6,1147
46,553,308,237,657,1054,1149,1155,1083,1296,1616,...,1812,1911,935,1204,683,798,1221,93,6,15642
47,5944,3307,2760,10133,15490,14340,13066,13691,15123,15770,...,16165,14698,5917,7547,4450,5225,6480,95,6,149772
48,6558,3474,3634,9856,16606,15966,14738,15726,16691,17928,...,19366,19840,7755,9982,5777,7810,9048,97,6,179520
49,8223,4708,3879,10988,18703,17509,16403,16732,16758,17135,...,17565,15628,5763,7448,4776,5897,7244,99,6,177499
50,1404,675,763,2000,3309,3074,2975,2868,3114,3105,...,3209,2568,1083,1641,807,1319,1659,101,6,31969
51,816,421,310,1133,1949,1857,1756,1806,2097,2315,...,2365,2314,874,1202,655,1074,1446,103,6,21692
52,173,22,8,183,335,409,489,262,408,556,...,547,747,199,391,150,299,347,105,6,4768
53,7480,4025,3540,10224,16340,15826,13774,14272,13252,12857,...,12960,11337,4507,5793,3814,4470,5025,107,6,143226
54,653,426,207,1173,1854,1893,1553,1651,1892,2226,...,2180,2613,902,1251,867,1003,1551,109,6,18473
55,12510,6954,5862,18074,28454,27133,25650,28301,29593,30400,...,31628,28372,9771,13350,8059,10374,12515,111,6,291448
56,4824,3319,2907,7687,7235,6961,5649,6080,6193,5844,...,6363,5578,1942,3459,1532,2447,2449,113,6,76771
57,1045,571,640,1720,2934,2639,2007,2352,2304,2334,...,2358,1970,841,1178,729,690,996,115,6,24283

In [16]:
cali_age_summary = cali_age.copy()
cali_age_summary = cali_age[['Geographic Area Name','county_y','Total Female Population','Total Male Population']]
cali_age_summary.columns= ['Geographic Area Name','County #','Total Female Population','Total Male Population']

cali_age_summary['Total Population'] = cali_age_summary['Total Female Population'] + cali_age_summary['Total Male Population']
cali_age_summary['Female %'] = round((cali_age_summary['Total Female Population'] / cali_age_summary['Total Population'] *100),1).astype(str) + '%'
cali_age_summary['Male %'] = round((cali_age_summary['Total Male Population'] / cali_age_summary['Total Population'] *100),1).astype(str) + '%'

cali_age_summary = cali_age_summary.sort(['Geographic Area Name'], ascending=False)

cali_age_summary

/home/pony/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/pony/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/pony/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/pony/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:9: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,Geographic Area Name,County #,Total Female Population,Total Male Population,Total Population,Female %,Male %
57,"Yuba County, California",115,24283,24695,48978,49.6%,50.4%
56,"Yolo County, California",113,76771,72455,149226,51.4%,48.6%
55,"Ventura County, California",111,291448,289101,580549,50.2%,49.8%
54,"Tuolumne County, California",109,18473,21558,40031,46.1%,53.9%
53,"Tulare County, California",107,143226,144152,287378,49.8%,50.2%
52,"Trinity County, California",105,4768,5167,9935,48.0%,52.0%
51,"Tehama County, California",103,21692,21489,43181,50.2%,49.8%
50,"Sutter County, California",101,31969,31618,63587,50.3%,49.7%
49,"Stanislaus County, California",99,177499,173345,350844,50.6%,49.4%
48,"Sonoma County, California",97,179520,175062,354582,50.6%,49.4%
47,"Solano County, California",95,149772,150195,299967,49.9%,50.1%
46,"Siskiyou County, California",93,15642,15742,31384,49.8%,50.2%
45,"Sierra County, California",91,1147,1116,2263,50.7%,49.3%
44,"Shasta County, California",89,63844,61585,125429,50.9%,49.1%
43,"Santa Cruz County, California",87,99205,99408,198613,49.9%,50.1%
42,"Santa Clara County, California",85,647925,662529,1310454,49.4%,50.6%
41,"Santa Barbara County, California",83,150545,154578,305123,49.3%,50.7%
40,"San Mateo County, California",81,268136,262224,530360,50.6%,49.4%
39,"San Luis Obispo County, California",79,97668,105474,203142,48.1%,51.9%
38,"San Joaquin County, California",77,234792,232714,467506,50.2%,49.8%
37,"San Francisco County, California",75,319409,341837,661246,48.3%,51.7%
36,"San Diego County, California",73,1125332,1154351,2279683,49.4%,50.6%
35,"San Bernardino County, California",71,710505,701033,1411538,50.3%,49.7%
34,"San Benito County, California",69,19209,19364,38573,49.8%,50.2%
33,"Sacramento County, California",67,516843,493610,1010453,51.1%,48.9%
32,"Riverside County, California",65,765355,758958,1524313,50.2%,49.8%
31,"Plumas County, California",63,7099,7145,14244,49.8%,50.2%
30,"Placer County, California",61,127554,121836,249390,51.1%,48.9%
29,"Orange County, California",59,1102370,1082206,2184576,50.5%,49.5%
28,"Nevada County, California",57,36064,35558,71622,50.4%,49.6%
27,"Napa County, California",55,48722,49134,97856,49.8%,50.2%
26,"Monterey County, California",53,139031,151134,290165,47.9%,52.1%
25,"Mono County, California",51,4955,5843,10798,45.9%,54.1%
24,"Modoc County, California",49,3226,3324,6550,49.3%,50.7%
23,"Merced County, California",47,84050,85998,170048,49.4%,50.6%
22,"Mendocino County, California",45,30877,31377,62254,49.6%,50.4%
21,"Mariposa County, California",43,6378,6806,13184,48.4%,51.6%
20,"Marin County, California",41,93108,90887,183995,50.6%,49.4%
19,"Madera County, California",39,53587,48333,101920,52.6%,47.4%
18,"Los Angeles County, California",37,3597958,3506860,7104818,50.6%,49.4%
17,"Lassen County, California",35,7739,19074,26813,28.9%,71.1%
16,"Lake County, California",33,22870,23117,45987,49.7%,50.3%
15,"Kings County, California",31,43171,60937,104108,41.5%,58.5%
14,"Kern County, California",29,272240,296921,569161,47.8%,52.2%
13,"Inyo County, California",27,6278,6513,12791,49.1%,50.9%
12,"Imperial County, California",25,56398,60462,116860,48.3%,51.7%
11,"Humboldt County, California",23,49508,50736,100244,49.4%,50.6%
10,"Glenn County, California",21,9168,9467,18635,49.2%,50.8%
9,"Fresno County, California",19,312465,313367,625832,49.9%,50.1%
8,"El Dorado County, California",17,64954,65236,130190,49.9%,50.1%
7,"Del Norte County, California",15,8862,11583,20445,43.3%,56.7%
6,"Contra Costa County, California",13,388950,369162,758112,51.3%,48.7%
5,"Colusa County, California",11,6716,7312,14028,47.9%,52.1%
4,"Calaveras County, California",9,16519,16080,32599,50.7%,49.3%
3,"Butte County, California",7,79755,79648,159403,50.0%,50.0%
2,"Amador County, California",5,12340,15364,27704,44.5%,55.5%
1,"Alpine County, California",3,411,458,869,47.3%,52.7%
0,"Alameda County, California",1,578988,557261,1136249,51.0%,49.0%

In [17]:
grouped = cali_age_summary.copy()
grouped = cali_age_summary.groupby(['Geographic Area Name'])

cali_age_group = grouped['Total Female Population','Total Male Population'].aggregate(np.sum)

cali_age_group

,Total Female Population,Total Male Population
Geographic Area Name,,
"Alameda County, California",578988,557261
"Alpine County, California",411,458
"Amador County, California",12340,15364
"Butte County, California",79755,79648
"Calaveras County, California",16519,16080
"Colusa County, California",6716,7312
"Contra Costa County, California",388950,369162
"Del Norte County, California",8862,11583
"El Dorado County, California",64954,65236
"Fresno County, California",312465,313367
"Glenn County, California",9168,9467
"Humboldt County, California",49508,50736
"Imperial County, California",56398,60462
"Inyo County, California",6278,6513
"Kern County, California",272240,296921
"Kings County, California",43171,60937
"Lake County, California",22870,23117
"Lassen County, California",7739,19074
"Los Angeles County, California",3597958,3506860
"Madera County, California",53587,48333
"Marin County, California",93108,90887
"Mariposa County, California",6378,6806
"Mendocino County, California",30877,31377
"Merced County, California",84050,85998
"Modoc County, California",3226,3324
"Mono County, California",4955,5843
"Monterey County, California",139031,151134
"Napa County, California",48722,49134
"Nevada County, California",36064,35558
"Orange County, California",1102370,1082206
"Placer County, California",127554,121836
"Plumas County, California",7099,7145
"Riverside County, California",765355,758958
"Sacramento County, California",516843,493610
"San Benito County, California",19209,19364
"San Bernardino County, California",710505,701033
"San Diego County, California",1125332,1154351
"San Francisco County, California",319409,341837
"San Joaquin County, California",234792,232714
"San Luis Obispo County, California",97668,105474
"San Mateo County, California",268136,262224
"Santa Barbara County, California",150545,154578
"Santa Clara County, California",647925,662529
"Santa Cruz County, California",99205,99408
"Shasta County, California",63844,61585
"Sierra County, California",1147,1116
"Siskiyou County, California",15642,15742
"Solano County, California",149772,150195
"Sonoma County, California",179520,175062
"Stanislaus County, California",177499,173345
"Sutter County, California",31969,31618
"Tehama County, California",21692,21489
"Trinity County, California",4768,5167
"Tulare County, California",143226,144152
"Tuolumne County, California",18473,21558
"Ventura County, California",291448,289101
"Yolo County, California",76771,72455
"Yuba County, California",24283,24695

In [ ]:
cali_age_group.plot.barh(title='Total Gender Distribution by County')
plt.gca().invert_yaxis()

In [ ]:
plt.show()

In [18]:
bayarea_age_summary = cali_age_summary.copy()

bayarea_age_summary

bayarea_age_summary =bayarea_age_summary[bayarea_age_summary['Geographic Area Name'].str.contains("Alameda|Contra Costa|Marin|Napa|San Francisco|San Mateo|Santa Clara|Solano|Sonoma")]

grouped_bayarea = bayarea_age_summary.groupby(['Geographic Area Name'])

bayarea_age_summary = grouped_bayarea['Total Female Population','Total Male Population'].aggregate(np.sum)

bayarea_age_summary

,Total Female Population,Total Male Population
Geographic Area Name,,
"Alameda County, California",578988,557261
"Contra Costa County, California",388950,369162
"Marin County, California",93108,90887
"Napa County, California",48722,49134
"San Francisco County, California",319409,341837
"San Mateo County, California",268136,262224
"Santa Clara County, California",647925,662529
"Solano County, California",149772,150195
"Sonoma County, California",179520,175062

In [ ]:
bayarea_age_summary.plot.barh(stacked=True, title='Total Gender Distribution by County')
plt.gca().invert_yaxis()
plt.show()

In [19]:
cali_age_summary_percent = cali_age.copy()
cali_age_summary_percent = cali_age[['Geographic Area Name','county_y','Total Female Population','Total Male Population']]
cali_age_summary_percent.columns= ['Geographic Area Name','County #','Total Female Population','Total Male Population']

cali_age_summary_percent['Total Population'] = cali_age_summary_percent['Total Female Population'] + cali_age_summary_percent['Total Male Population']
cali_age_summary_percent['Female %'] = round((cali_age_summary_percent['Total Female Population'] / cali_age_summary_percent['Total Population'] *100),1)
cali_age_summary_percent['Male %'] = round((cali_age_summary_percent['Total Male Population'] / cali_age_summary_percent['Total Population'] *100),1)

cali_age_summary_percent = cali_age_summary_percent.sort(['Geographic Area Name'], ascending=False)

cali_age_summary_percent

/home/pony/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/pony/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/pony/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/pony/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:9: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,Geographic Area Name,County #,Total Female Population,Total Male Population,Total Population,Female %,Male %
57,"Yuba County, California",115,24283,24695,48978,49.6,50.4
56,"Yolo County, California",113,76771,72455,149226,51.4,48.6
55,"Ventura County, California",111,291448,289101,580549,50.2,49.8
54,"Tuolumne County, California",109,18473,21558,40031,46.1,53.9
53,"Tulare County, California",107,143226,144152,287378,49.8,50.2
52,"Trinity County, California",105,4768,5167,9935,48.0,52.0
51,"Tehama County, California",103,21692,21489,43181,50.2,49.8
50,"Sutter County, California",101,31969,31618,63587,50.3,49.7
49,"Stanislaus County, California",99,177499,173345,350844,50.6,49.4
48,"Sonoma County, California",97,179520,175062,354582,50.6,49.4
47,"Solano County, California",95,149772,150195,299967,49.9,50.1
46,"Siskiyou County, California",93,15642,15742,31384,49.8,50.2
45,"Sierra County, California",91,1147,1116,2263,50.7,49.3
44,"Shasta County, California",89,63844,61585,125429,50.9,49.1
43,"Santa Cruz County, California",87,99205,99408,198613,49.9,50.1
42,"Santa Clara County, California",85,647925,662529,1310454,49.4,50.6
41,"Santa Barbara County, California",83,150545,154578,305123,49.3,50.7
40,"San Mateo County, California",81,268136,262224,530360,50.6,49.4
39,"San Luis Obispo County, California",79,97668,105474,203142,48.1,51.9
38,"San Joaquin County, California",77,234792,232714,467506,50.2,49.8
37,"San Francisco County, California",75,319409,341837,661246,48.3,51.7
36,"San Diego County, California",73,1125332,1154351,2279683,49.4,50.6
35,"San Bernardino County, California",71,710505,701033,1411538,50.3,49.7
34,"San Benito County, California",69,19209,19364,38573,49.8,50.2
33,"Sacramento County, California",67,516843,493610,1010453,51.1,48.9
32,"Riverside County, California",65,765355,758958,1524313,50.2,49.8
31,"Plumas County, California",63,7099,7145,14244,49.8,50.2
30,"Placer County, California",61,127554,121836,249390,51.1,48.9
29,"Orange County, California",59,1102370,1082206,2184576,50.5,49.5
28,"Nevada County, California",57,36064,35558,71622,50.4,49.6
27,"Napa County, California",55,48722,49134,97856,49.8,50.2
26,"Monterey County, California",53,139031,151134,290165,47.9,52.1
25,"Mono County, California",51,4955,5843,10798,45.9,54.1
24,"Modoc County, California",49,3226,3324,6550,49.3,50.7
23,"Merced County, California",47,84050,85998,170048,49.4,50.6
22,"Mendocino County, California",45,30877,31377,62254,49.6,50.4
21,"Mariposa County, California",43,6378,6806,13184,48.4,51.6
20,"Marin County, California",41,93108,90887,183995,50.6,49.4
19,"Madera County, California",39,53587,48333,101920,52.6,47.4
18,"Los Angeles County, California",37,3597958,3506860,7104818,50.6,49.4
17,"Lassen County, California",35,7739,19074,26813,28.9,71.1
16,"Lake County, California",33,22870,23117,45987,49.7,50.3
15,"Kings County, California",31,43171,60937,104108,41.5,58.5
14,"Kern County, California",29,272240,296921,569161,47.8,52.2
13,"Inyo County, California",27,6278,6513,12791,49.1,50.9
12,"Imperial County, California",25,56398,60462,116860,48.3,51.7
11,"Humboldt County, California",23,49508,50736,100244,49.4,50.6
10,"Glenn County, California",21,9168,9467,18635,49.2,50.8
9,"Fresno County, California",19,312465,313367,625832,49.9,50.1
8,"El Dorado County, California",17,64954,65236,130190,49.9,50.1
7,"Del Norte County, California",15,8862,11583,20445,43.3,56.7
6,"Contra Costa County, California",13,388950,369162,758112,51.3,48.7
5,"Colusa County, California",11,6716,7312,14028,47.9,52.1
4,"Calaveras County, California",9,16519,16080,32599,50.7,49.3
3,"Butte County, California",7,79755,79648,159403,50.0,50.0
2,"Amador County, California",5,12340,15364,27704,44.5,55.5
1,"Alpine County, California",3,411,458,869,47.3,52.7
0,"Alameda County, California",1,578988,557261,1136249,51.0,49.0

In [20]:
grouped_percent = cali_age_summary_percent.copy()
grouped_percent = cali_age_summary_percent.groupby(['Geographic Area Name'])

cali_age_group_percent = grouped_percent['Female %','Male %'].aggregate(np.sum)

cali_age_group_percent

                                    Female %  Male %
Geographic Area Name
Alameda County, California              51.0    49.0
Alpine County, California               47.3    52.7
Amador County, California               44.5    55.5
Butte County, California                50.0    50.0
Calaveras County, California            50.7    49.3
Colusa County, California               47.9    52.1
Contra Costa County, California         51.3    48.7
Del Norte County, California            43.3    56.7
El Dorado County, California            49.9    50.1
Fresno County, California               49.9    50.1
Glenn County, California                49.2    50.8
Humboldt County, California             49.4    50.6
Imperial County, California             48.3    51.7
Inyo County, California                 49.1    50.9
Kern County, California                 47.8    52.2
Kings County, California                41.5    58.5
Lake County, California                 49.7    50.3
Lassen County, California               28.9    71.1
Los Angeles County, California          50.6    49.4
Madera County, California               52.6    47.4
Marin County, California                50.6    49.4
Mariposa County, California             48.4    51.6
Mendocino County, California            49.6    50.4
Merced County, California               49.4    50.6
Modoc County, California                49.3    50.7
Mono County, California                 45.9    54.1
Monterey County, California             47.9    52.1
Napa County, California                 49.8    50.2
Nevada County, California               50.4    49.6
Orange County, California               50.5    49.5
Placer County, California               51.1    48.9
Plumas County, California               49.8    50.2
Riverside County, California            50.2    49.8
Sacramento County, California           51.1    48.9
San Benito County, California           49.8    50.2
San Bernardino County, California       50.3    49.7
San Diego County, California            49.4    50.6
San Francisco County, California        48.3    51.7
San Joaquin County, California          50.2    49.8
San Luis Obispo County, California      48.1    51.9
San Mateo County, California            50.6    49.4
Santa Barbara County, California        49.3    50.7
Santa Clara County, California          49.4    50.6
Santa Cruz County, California           49.9    50.1
Shasta County, California               50.9    49.1
Sierra County, California               50.7    49.3
Siskiyou County, California             49.8    50.2
Solano County, California               49.9    50.1
Sonoma County, California               50.6    49.4
Stanislaus County, California           50.6    49.4
Sutter County, California               50.3    49.7
Tehama County, California               50.2    49.8
Trinity County, California              48.0    52.0
Tulare County, California               49.8    50.2
Tuolumne County, California             46.1    53.9
Ventura County, California              50.2    49.8
Yolo County, California                 51.4    48.6
Yuba County, California                 49.6    50.4

In [ ]:
cali_age_group_percent.plot.barh(stacked=True, title='Total Gender Distribution by County')
plt.gca().invert_yaxis()
plt.show()

In [21]:
bayarea_age_summary_percent = cali_age_summary_percent.copy()

bayarea_age_summary_percent

bayarea_age_summary_percent =bayarea_age_summary_percent[bayarea_age_summary_percent['Geographic Area Name'].str.contains("Alameda|Contra Costa|Marin|Napa|San Francisco|San Mateo|Santa Clara|Solano|Sonoma")]

grouped_bayarea_percent = bayarea_age_summary_percent.groupby(['Geographic Area Name'])

bayarea_age_summary_percent = grouped_bayarea_percent['Female %','Male %'].aggregate(np.sum)

bayarea_age_summary_percent

                                  Female %  Male %
Geographic Area Name
Alameda County, California            51.0    49.0
Contra Costa County, California       51.3    48.7
Marin County, California              50.6    49.4
Napa County, California               49.8    50.2
San Francisco County, California      48.3    51.7
San Mateo County, California          50.6    49.4
Santa Clara County, California        49.4    50.6
Solano County, California             49.9    50.1
Sonoma County, California             50.6    49.4

In [22]:
bayarea_age_summary_percent.plot.barh(stacked=True, title='Total Gender Distribution in SF Bay Area')
plt.gca().invert_yaxis()
plt.show()

In [ ]:
m_cali_age['B01001_021E'].dtype

In [ ]:
m_cali_age.dtypes

In [ ]:
""" df= pd.DataFrame(ck.acs5.get(('NAME', 'B01001_002E','NAME', 'B01001_026E', 'NAME','B08013_003E'),
          {'for': 'state:{}'.format(states.CA.fips)}, year=census_year))
df

In [ ]:
""""# total population for Yuba County broken out by tract

df3= pd.DataFrame(ck.acs5.get(('NAME','B00001_001E'),geo={'for': 'tract:*', 
               'in': 'state:{} county:115'.format(states.CA.fips)}, year=census_year))
df3

In [ ]:
df5= pd.DataFrame(ck.acs5.get(('NAME','B00001_001E'),
          {'for': 'state:{}'.format(states.RI.fips)}, year=census_year))
df5

In [ ]:
df2 = pd.DataFrame(ck.acs5.get('B01001_004E', {'for': 'state:*'}))
df2.head

In [ ]:
df_variables_table